@model Payroll_system.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border p-3 mt-5 rounded-2">
        <div class="row pb-2">
            <h2 class="text-primary">Add Employee</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Dept"></label>
            <select asp-for="Dept" asp-items="@(ViewBag._departmentlist as SelectList)" />
            <input asp-for="Dept" class="form-control" />
            <span asp-validation-for="Dept" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PresentAddress"></label>
            <input asp-for="PresentAddress" class="form-control" />
            <span asp-validation-for="PresentAddress" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PermanentAddressBn"></label>
            <input asp-for="PermanentAddressBn" class="form-control" />
            <span asp-validation-for="PermanentAddressBn" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="JoinDate"></label>
            <input asp-for="JoinDate" type="date" class="form-control" />
            <span asp-validation-for="JoinDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="MobileNo"></label>
            <input asp-for="MobileNo" class="form-control" />
            <span asp-validation-for="MobileNo" class="text-danger"></span>
        </div>
    </div>
    <br />
    <button type="submit" class="bnt btn-primary" style="width:150px; height:37px; border-radius:3px">Create</button>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-danger" style="width:150px">
        Go back
    </a>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

