@model Payroll_system.ViewModels.LeaveApllicationViewModel

@{
    ViewData["Title"] = "Update";
}

<div class="px-lg-5 border rounded-2 mx-lg-5 my-lg-5 small">

    <form class="row g-3  p-2 px-lg-5 mx-lg-5 my-lg-5" method="post">
        <div>
            <h2 class="text-primary">Update Leave Application</h2>
            <hr />
        </div>
        <div class="col-md-12">
            <label asp-for="EmployeeName"></label>
            <select name="EmployeeId" class="form-control" asp-items="@ViewBag.employeelist"></select>
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ReasonOfLeave"></label>
            <input asp-for="ReasonOfLeave" class="form-control" />
            <span asp-validation-for="ReasonOfLeave" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="LeaveType"></label>
            <select name="LeaveType" class="form-control" asp-items="@ViewBag.Leave"></select>
            <span asp-validation-for="LeaveType" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="FromDate"></label>
            <input asp-for="FromDate" type="date" class="form-control" />
            <span asp-validation-for="FromDate" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="ToDate"></label>
            <input asp-for="ToDate" type="date" class="form-control" />
            <span asp-validation-for="ToDate" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="ApplicationDate"></label>
            <input asp-for="ApplicationDate" type="date" class="form-control" />
            <span asp-validation-for="ApplicationDate" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ApproavedBy"></label>
            <input asp-for="ApproavedBy" class="form-control" />
            <span asp-validation-for="ApproavedBy" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ApprovalDate"></label>
            <input asp-for="ApprovalDate" type="date" class="form-control" />
            <span asp-validation-for="ApprovalDate" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between">
            <a asp-controller="LeaveApplication" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Go back
            </a>
            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

