@model Payroll_system.ViewModels.AttendanceViewModel
@{
    ViewData["Title"] = "Delete";
}

<div class="row pt-5">
    <h2 class="text-primary">Delete Attendance??</h2>
</div>
<form method="post" asp-action="DeleteAll">
    <input asp-for="AttendanceId" hidden />

    <div class="d-flex justify-content-between mt-2">
        <a asp-controller="Attendance" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Go back
        </a>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}