@model Payroll_system.ViewModels.AttendanceViewModel

<form method="post">
    <div class="border p-3 mt-5 rounded-2">
        <div class="row pb-2">
            <h2 class="text-primary">Update Attendance</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="AttendanceId"></label>
            <input asp-for="AttendanceId" class="form-control" />
            <span asp-validation-for="AttendanceId" class="text-danger"></span>
        </div>
       <div class="mb-3">
            <label asp-for="EmployeeId"></label>
            <input asp-for="EmployeeId" class="form-control" />
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EmployeeName"></label>
            <select name="EmployeeId" class="form-control" asp-items="@ViewBag.employeelist"></select>
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="InTime"></label>
            <input asp-for="InTime" class="form-control" />
            <span asp-validation-for="InTime" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="OutTime"></label>
            <input asp-for="OutTime" class="form-control" />
            <span asp-validation-for="OutTime" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Date"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
    <br />
    <button type="submit" class="bnt btn-primary" style="width:150px; height:37px; border-radius:3px">Update</button>
    <a asp-controller="Attendance" asp-action="Index" class="btn btn-danger" style="width:150px">
        Go back
    </a>

</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}



