@model Payroll_system.ViewModels.DepartmentViewModel
@{
    ViewData["Title"] = "Delete";
}

<div class="row pt-5">
    <h2 class="text-primary">Delete Department??</h2>
</div>
<form method="post" asp-action="DeleteAll">
    <input asp-for="Id" hidden />
    <div class="d-flex justify-content-between mt-2">
        <a asp-controller="Department" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Go back
        </a>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
  }

