@model Payroll_system.ViewModels.SalaryViewModel

@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border p-3 mt-5 rounded-2">
        <div class="row pb-2">
            <h2 class="text-primary">Add Salary</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="EmployeeName"></label>
            <select name="EmployeeId" class="form-control" asp-items="@ViewBag.employeelist"></select>
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Month"></label>
            <input asp-for="Month" class="form-control" />
            <span asp-validation-for="Month" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Year"></label>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="GrossSalary"></label>
            <input asp-for="GrossSalary" class="form-control" />
            <span asp-validation-for="GrossSalary" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TotalPay"></label>
            <input asp-for="TotalPay" class="form-control" />
            <span asp-validation-for="TotalPay" class="text-danger"></span>
        </div>
        @*<div class="mb-3">
            <label asp-for="SalaryTypeName"></label>
            <input asp-for="SalaryTypeName" class="form-control" />
            <span asp-validation-for="SalaryTypeName" class="text-danger"></span>
        </div>*@
    </div>
    <br />
    <button type="submit" class="bnt btn-primary" style="width:150px; height:37px; border-radius:3px">Create</button>
    <a asp-controller="Salary" asp-action="Index" class="btn btn-danger" style="width:150px">
        Go back
    </a>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
   }

